:root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =========================
   MAIN GRID LAYOUT
   ========================= */
.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
    gap:10px;
}

/* =========================
   ICONS
   ========================= */
.icon {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

/* =========================
   SIDEBAR
   ========================= */
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, 1fr);

    background-color: #23a8c9;
    font-size: 30px;
    padding-top: 10px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 16px;
    color: white;
    text-decoration: none;
}

/* Dashboard link */
.dashboard {
    font-size: 35px;
}

.dashboard img {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

/* =========================
   TOP NAV
   ========================= */




.nav-wrapper {
    grid-template-rows: auto auto;
    grid-column: 2 / 4;  /* same width as main content */
    grid-row: 1;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    background: white;
    border-radius: 0 0 12px 12px;
    overflow: hidden; /* IMPORTANT */
    height:200px;
}

.topnav-top {
    display: grid;
    grid-template-columns:1fr auto auto auto;
    grid-template-rows: 0.5fr;
    height:50%;
    width:100%;
    align-items: center;
    gap: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 0;
    padding: 10px 20px;
    grid-column: 2 / 3; /* middle column */
    grid-row: 1;
}

.topnav-bot {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 50%;
    width:auto;
    align-items: center;
    gap: 20px;
    box-shadow: 0  20px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius:0 0 12px 12px;
    grid-column: 2 / 3;
    grid-row: 2;
}

.search-container {
    flex:1;
    width: 900px;
    
}

.search-icon {
    position: absolute;
    right: 10px; 
    top:5.2%; 
    left:1270px;
    transform: translateY(-50%); 
    color: #aaa; 
    cursor: pointer; 
    height: 30px;
    width: 30px;
}

.search {
    grid-column: 1;
    grid-row-start: 1;
    padding: 6px;
    box-sizing:border-box;
    border: none;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    height: 40px;
    border-radius:20px;
    background-color: #d1c9c9;
    margin-top:20px;
}
.topnav-right {
    display: flex;
    align-items: center;
    align-content: flex-end;
    gap: 15px;
}

.topnav-item {
    display:flex;
    grid-column: 2;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-size:cover;
}

.topnav button {
    background-color: #23a8c9;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.topnav span {
    font-weight:700;
    font-size:20px;
    white-space:nowrap;
}

.profile {
    position:relative;
    grid-column: 1;
    height: 60px;
    width: 60px;
    grid-row: 2;
    justify-content: center;
    align-items: flex-start;
}

.greeting{
    display:flex;
    align-items: center;
    gap:15px;
    padding:20px 20px;
}

.greet{
    grid-column: 1;
    grid-row: 2;
    height:60px;
    width:60px;
}

.topnav .span1 {
    position:relative;
    font-size: 30px;
    font-weight: 700;
    grid-column: 3;
    grid-row: 2;
    justify-content: center;
    align-items: center;
}

.buttons {
    display:flex;
    width:auto;
    height:auto;
    grid-row-start: 1;
    grid-column-start:3;
    align-items: flex-end;
    gap:40px;
    margin-right: 20px;
}

.buttons button {
     border-radius: 999px;
    color: white;
    background-color: skyblue;
     padding: 13px 40px;
    border: none;
    cursor: pointer;

}

/* =========================
   MAIN CONTENT (MIDDLE)
   ========================= */
.grid-container-middle {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr; /* projects | right panel */
    gap: 20px;

    padding: 20px;
    background-color: rgb(150, 186, 190);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.right-panel {
    padding-top: 1px;
}

.right-panel h3 {
     margin: 0;
}

.right-panel h2 {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.announcement-item {
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.announcement-item:last-child {
    border-bottom: none;
}

.trending-item:last-child {
    border-bottom: none;
}

.announcement-item h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.announcement-item p {
    font-size: 13px;
    color: #666;
}

.panel-block:last-child{
    border-bottom:none;
}

.trending-item {
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    margin-left: 15px;
}

.trending-item p {
     font-size: 15px;
     color: #666;
     margin-left: 35px;
}

.trending-item span {
    font-weight: 700;
    font-size: 20px;
    color: black;
    vertical-align:top;
}



/* =========================
   HEADINGS
   ========================= */
h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: justify;
}

/* =========================
   CARDS
   ========================= */

   .announcements-card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    display: grid;
    gap: 0; 
}

.form-card {
    position: relative;
    width: 500px;
    height: 250px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    border-radius: 8px;
    color: black;
    background-color: white;
    
}

.trending-card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    align-items: left;
    display: grid;
    height:fit-content;
    gap: 0;
}

.form-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stretched-link {
    position: absolute;
    inset: 0;
    z-index: 1;
    text-decoration: none;
    color: inherit;
    font-weight:700;
    margin: 10px;
}

.form-card p {
    margin-top: 20px;
    padding: 10px;
}

.form-card p:not(.stretched-link) {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 20px;
}


.img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.but-mid {
    width: 20px;
    height: 20px;
    background-size:cover;
    cursor:pointer;
    padding:0;
}

.button-container {
    display:flex;
    position:relative;
    align-items:flex-end;
    justify-content: flex-end;
    margin-top: 155px;
    margin-right:15px;
    gap:10px;
    z-index: 2;
}
